<template name="master">
  <h1>Quiz</h1>
  {{#if isGameOver}}
    <p>Game Over!</p>
  {{/if}}
  {{questionNumber}}
  {{#with currentQuestion}}
    <p>{{question}}</p>
    <ul>
      {{#each choices}}
      <li>{{letter}}: {{choice}} <span class="{{correctClass}}">✓</span></li>
      {{/each}}
    </ul>
  {{/with}}
  <p>{{timeLeft}}</p>
  <ul>
  {{#each players}}
    <li>{{name}} {{hasAnsweredCurrentQuestion}} {{answer}} -- <span class="{{playerHasAnswerClass}}">{{playerIsCorrect}}</span> {{score}}</li>
  {{/each}}
  </ul>
  <button name="reset">Reset</button>
  <button name="next-question">Next Question</button>
</template>
