@font-face {
  font-family: Munro;
  src: url('/Munro.ttf');
}

body {
  font-family: Munro;
  color: #fff;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#image {
  background-color: #2F2727;
  background-image: url(/cornerhouse.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

#darken {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 1);
}

.question-box {
  position: absolute;
  top: 0px;
  padding: 5px;
  font-size: 50px;
  font-size: 5vw;
  width: 100%;
}

.question-number {
  float: left;
  height: 140px;
  width: 10%;
  padding: 5px;
}

.question {
  float: left;
  width: 90%;
  padding: 5px;
}

.choices-box {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-size: 40px;
  font-size: 4vw;
}

.choice-letter-wrapper {
  float: left;
  width: 10%;
  height: 60px;
  margin-bottom: 10px;
}

.choice-letter {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
}

.choice-letter .a {

}

.choice {
  float: left;
  width: 90%;
}

.time-left {
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 10px;
  font-size: 60px;
  font-size: 6vw;
}

.players {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
}

.player {
  float: left;
  max-width: 10%;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-size: 2vw;
  text-align: center;
}

.controls {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.game-over {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-size: 7vw;
}

.player-name {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.player-button {
  position: absolute;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 33%;
}

[name="a"] {
  top: 0px;
}

[name="b"] {
  top: 33%;
}

[name="c"] {
  top: 66%;
  height: 34%;
}

.choice-letter.a, [name="a"] {
  background-color: #4ECDC4;
}

.choice-letter.b, [name="b"] {
  background-color: #C7F464;
}

.choice-letter.c, [name="c"] {
  background-color: #FF6B6B;
}

