@font-face {
  font-family: Munro;
  src: url('/Munro.ttf');
}

body {
  font-family: Munro;
  color: #fff;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#image {
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

#darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.question-box {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  font-size: 40px;
  font-size: 4vw;
}

.choices-box {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-size: 30px;
  font-size: 3vw;
}

.time-left {
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 10px;
  font-size: 60px;
  font-size: 6vw;
}

.players {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
}

.player {
  float: left;
  max-width: 10%;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-size: 2vw;
  text-align: center;
}

.controls {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.game-over {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-size: 7vw;
}

.player-name {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.player-button {
  position: absolute;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 33%;
}

[name="a"] {
  top: 0px;
  background-color: #4ECDC4;
}

[name="b"] {
  top: 33%;
  background-color: #C7F464;
}

[name="c"] {
  top: 66%;
  background-color: #FF6B6B;
  height: 34%;
}

